body {font-family: helvetica;
      font-size: 22px;
      color: seashell;
      background-color: black;
      opacity: 0.9;
      text-align: center;
}

.header {display: flex;
         height: 50px;
         position: fixed;
         top: 0;
         left: 0;
         background-color: black;
         border-bottom: 1px solid white;
         padding-bottom: 10px;
}



.logo img {
           height: 50px;
}

.navigation {flex-grow: 1;
             text-align: right;
}

#mission {height: 700px;
          background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 1500px;
          padding-top: 300px;
          margin-top: 50px;

}

.section1 {background-color: black;
           margin-top: 160px;
    }

h2 {padding-top: 10px;
}

h4 {
  padding-bottom: 10px;
}

.section2 {padding-top: 70px;
}




a        {color: seashell;
}

.items img {height: 200px;
            width: 300px;
          }
