body {font-family: helvetica;
      font-size: 22px;
      color: seashell;
      background-color: black;
      opacity: 0.9;
      text-align: center;
}

.header {display: flex;
         height: 69px;
         position: fixed;
         top: 0;
         left: 0;
         background-color: black;
         border-bottom: 1px solid white;
         padding-bottom: 10px;
         width: 100%;
         align-items: center;
}

.logo img {height: 50px;
           padding-left: 10px;
}

.navigation {flex-grow: 1;
             text-align: right;
             padding-right: 10px;
}

.main {width: 1200px;
       margin: auto;
}

#mission {height: 700px;
          background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 1500px;
          padding-top: 300px;
          margin-top: 50px;
}

.section1 {background-color: black;
           margin-top: 160px;
}

h2 {padding-top: 10px;
    margin: 0;
}

h4 {padding-bottom: 10px;
}

.type {margin-top: 20px;
}

.steeping {margin-bottom: 0px;
           margin-top: 20px;
}

.section2 {padding-top: 70px;
}


a {color: seashell;
   padding-left: 20px;
}

.items img {height: 200px;
            width: 300px;
}

.flex-container {display: flex;
                flex-wrap: wrap;
                justify-content: center;
                width: 1020px;
                margin: 0 auto;
}

.item span {display: flex;
            flex-direction: column;
            padding: 10px;
}

.item {display: flex;
       flex-direction: column;
       margin: 0 10px;
       padding: 10px;
}

#locations {background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
            padding-top: 70px;
            height: 500px;
            margin-top: 70px;
}

#locations .flex-container {margin: auto;
                            margin-top: 30px;
                            width: 1100px;
}

.location {opacity: 0.9;
           padding: 10px;
           margin: 5px 20px;
           background-color: black;
           flex-basis: 280px;
           flex-direction: column;
           justify-content: center;
           height: 250px;
}

h3 {display: block;
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

p {font-size: 22px;
}

.footer {height: 200px;
}

.copyright {text-align: left;
}
